/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
	background: url(../images/bg-pattern.jpg) #bbd052;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

#logo {
	position:relative;
	width:100%;
	margin-top:2em;
}
#logo img {width:100%}

h1 {
	line-height:normal;
	letter-spacing:1px;
}
h2 {
	font-size:1.75em !important;
}

/*^*^*^*^*^*^*^* LINK STYLES *^*^*^*^*^*^*^*/
a:link {text-decoration:none; color:#f46f21;}
a:visited {text-decoration:none; color:#f46f21;}
a:active {text-decoration:none; color:#f46f21;}
a:hover {text-decoration: underline; color:#00ADEF;}

a.button:link, a.button:visited, a.button:active, a.button:hover {
	color:#fff;
	text-decoration:none;
}

/* no ugly tabs please */
.tabs, footer.submitted { display:none; }

/*no ugly bullets either!*/
ul li.leaf {
	list-style-image:url(../images/orange-dot.png);
	list-style-type: disc;
}

/*^*^*^*^*^*^* END LINK STYLES *^*^*^*^*^*^*/

#block-system-main {
	clear:both
}

/***** TOP NAVIGATION for mobile only ***************/
/*show simple tree menu*/
/*hide the fancy superfish menu*/
div#block-superfish-1 {
	display:none;
}
#block-system-main-menu {
	display:block;
}
#block-system-main-menu .content {
	background-color: rgba(255, 255, 255, 0.95);
	margin-bottom:15px;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}
#block-system-main-menu .content ul {
	margin:20px;
	padding-top: 10px;
}
#block-system-main-menu .content ul a {
	font-size:1em;
	font-family: 'Ubuntu', sans-serif;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
}
#block-system-main-menu .content ul li ul {
	margin:0;
	padding:0;
}
/***** END TOP NAVIGATION ***************/



/* Content boxes */
.region-sidebar-first .block,
.region-sidebar-second .block,
.not-front .region-content-inner,
.front .region-content-inner .block {
	background-color: rgba(255, 255, 255, 0.95);
	margin-bottom:15px;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}

/*pad UL lists within the content area only*/
#block-system-user-menu ul, #block-system-user-menu ol {margin:0 0 20px 20px;}
/*but NOT the nested UL lists */
#zone-content ul li ul {margin:0;}
	
.front h1#page-title {
	display:none;
}

#page-title,
.block-title,
.block .content{
	/*display:none;*/
	padding:10px;
}
h1#page-title {
	margin:0;
	line-height:1em;
}

.block .content .content,
#section-header .block .content {
	padding:0
}

.region-sidebar-first-inner .block img,
.region-sidebar-second-inner .block img,
.front .region-content-inner .block img {
	width:100%;
}
.block h1, .block h2, .block h3, .block h4,
.block-title, #page-title {
	line-height:normal;
	text-transform:uppercase;
	color:#3f3f3f;
	font-family: 'Bree Serif', serif;
	font-weight:400;
	padding-bottom:0;
	letter-spacing: 0.02em;
}
.block h2 {
	line-height:1em;
}

/*footer block overwrights */
.region-footer-first-inner .block, .region-footer-second-inner .block {
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size:1em;
	text-transform:uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
	color:#71821c;
	line-height:normal;
}
.region-footer-first-inner .block ul {
	list-style-type: none;
}

.region-footer-first-inner .block li {
	display:inline;
	background:url(../images/green-dot.png) no-repeat right 9px;
	padding-right:10px;
}
.region-footer-first-inner .block li.last {
	background:none;
}
.region-footer-first-inner .block a {
	color:#71821c;
    font-weight:700;
}
.region-footer-first-inner .block {
	border-top:1px solid #9ab02d;
	margin: 20px 0 0 0;
}
.region-footer-second-inner .block {
	padding-left:5px;
	border-bottom:1px solid #9ab02d;
	margin-bottom:20px;
}
/*mobile only*/
.footer-left, .footer-right {
	width:100%;
	float:none;
}
.footer-right {
	text-align:right;
}

#zone-footer .footer-right img {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

/* END Content Boxes */


/*^*^*^*^*^*^*^* FORMS *^*^*^*^*^*^*^*/
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	padding:5px !important;
	width:100% !important;
	height: auto;
	font-size:1.1em;

}
label {
	margin-bottom:5px;
}
button, .button, input[type="reset"], input[type="submit"], input[type="button"] {
    background: url(../images/arrow.png) no-repeat right 10px #f46f21;
    border:0 none;
    color: #FFF;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
    font-size:1.1em;
    text-shadow:none;
    text-transform:uppercase;
    border-radius:0;
    width: auto;
    padding: 6px 25px 6px 15px;
    letter-spacing:1px;
    margin: 10px 10px 0 0;
    
    -moz-box-shadow: 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px rgba(0,0,0,0.3);
	box-shadow: 3px 3px rgba(0,0,0,0.3);
	
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.form-actions input:hover, a.button:hover {
   background: url(../images/arrow.png) no-repeat right 10px #00adef !important;
}
.form-textarea-wrapper div, div.nicEdit-main {
	width:100% !important;
	height:auto !important;
}
/*login form list overwrites*/
#zone-content .user-login-block .item-list ul,
#zone-content .user-login-block .item-list ul li { margin:0 !important; }

/*^*^*^*^*^*^* END FORMS *^*^*^*^*^*^*/

/*^*^*^*^*^*^*^* jcarousel overwrites *^*^*^*^*^*^*^*/
.jcarousel-skin-default .jcarousel-container-horizontal {
	padding:0;
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}
.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
	 background-image: url("/sites/all/themes/omega_activate/images/arrows.png");
}
.jcarousel-skin-default .jcarousel-prev-horizontal {
	/*left:0;*/
	top:35px;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
	right:0;
	top:35px;
}
/*^*^*^*^*^*^* END jcarousel *^*^*^*^*^*^*/

/************ GAMES **********************/
.games-items{
	width:30%;
	float:left;
}
.games-items .views-field.views-field-title {
	font-size: 1.3em;
	font-weight: bold;
}
.games-items .views-field.views-field-field-game-screenshot img {
	width:100%;
	height:auto;
}
.games-item-download-link img {
	display:none;
}

/**** game listings */
p.play-a-game-intro {
	font-size:1em;
	text-transform:uppercase;
	font-size:1.5em;
	font-weight:300;
}
.view.view-games .views-exposed-form {
	margin-bottom:2em;
}
.view.view-games .views-row {
	display:block;
	width:100%;
	margin:0 0 10px 0;
	background:#ededed;
	min-height:100px;

}
.view.view-games .views-row .views-field-field-game-screenshot {
	max-height:100px;
	overflow:hidden;
	margin-right:10px;
	padding:5px;
	float:left;
}
.view.view-games .views-row .views-field-title {
	font-size:1.2em;
	line-height:normal;
	font-family: 'Bree Serif',serif;
}
.view.view-games .views-row .views-field-name {
	font-size:0.875em;
	font-weight:normal;
}
/**** individual GAMES page */
.node-type-game .node-game .field-name-field-game-screenshot .field-label {
	display:none;
}
.node-type-game .node-game .field-name-field-game-screenshot .field-item {
	margin-right:10px;
}
.node-type-game .node-game .field-name-field-game-screenshot .field-item img {
	width:100% !important;
	height:auto !important;
}
.node-type-game .node-game .field-name-field-game-screenshot {
	float:left;
	width:35%;
}
.node-type-game .node-game .field-name-field-rating {
	float:left;
	width:65%;
}
.node-type-game .node-game .field-name-body {
	padding-top:5em;
}
.node-type-game .node-game nav.links.node-links {
	/*display:none;*/
	margin:2em 0;
}
.node-links ul,
.comment-links ul {
	margin:0 !important;
}
.node-links ul li,
.comment-links ul li {
	padding:0 !important;
}
.node-links ul li a, .comment-links ul li a {
	float:none;
	display:inline;
	margin:0;
}
.field-name-field-game-file {
	clear:left;
}
.field-name-field-play-game-file {
	clear:left;
	margin-top:2em;
	text-align:center;
	padding:2em 0 2em 0;
	background:#EDEDED;
}

#comments,
#comments h2.title.comment-form  {
	border-top:1px dotted #ccc;
	padding-top:1em;
}
#comments .links.comment-links {
	display:none;
}
#comments article header h3 {
	padding:0;
	margin:0;
	font-size:1.2em;
}
#comments article {
	margin-bottom:2em;
}
#comments article footer.comment-submitted {
	font-style:italic;
	padding-bottom:5px;
}
#comments article nav.links.comment-links {
	padding:1em 0 1em 0;
}


.flex-direction-nav li .prev {
    left: -3px;
}
.flex-direction-nav li a {
    background: url(../images/bg_direction_nav.png) no-repeat;
	top: 35%;
	height: 45px;
	width: 35px;   
}
.flex-direction-nav li .next {
    background-position: -35px 0;
    right: -8px;
}
.flexslider {
	border:none;
	border-radius:0;
}

/*********** END GAMES ******************/

.game-selector {
	padding:2em 0 2em 0;
	border-top:1px dashed #ccc;
}

.game-selector .col-left {
	width:100%;
	margin-right:0;
	float:none;
}
.game-selector .col-right {
	width:100%;
	float:none;
}
.game-selector .col-left img {
	width:100% !important;
	height:auto !important;
}

#zone-content ul.pager {
	margin: 0 0 20px 0;
}
.content .field-type-image .field-item {
	/*text-align:center;*/
}

/*codex */
.quicktabs-tabs {
	margin:0 0 2em 0 !important;
}
.quicktabs-tabs li a {
	padding:5px;
}
.quicktabs_main .view-content .views-summary {
	font-size:1.3em;
	font-family: 'Bree Serif', serif;
	font-weight:400;
}
.quicktabs_main .views-row {
	margin-top:0.5em;
	background:#ededed;
	padding:5px;
}
.quicktabs_main .views-row span a {
	font-size:1.3em;
	font-family: 'Ubuntu', sans-serif;
	text-transform:uppercase;
	font-weight:700;
}
.quicktabs_main .views-row .views-field-field-codex-topic {
	color:#999;
}

.quicktabs_main .views-exposed-form .views-exposed-widget {
	float:none;
}
.quicktabs_main .views-exposed-form .views-exposed-widget.views-submit-button {
	margin-bottom:2em;
}
.quicktabs_main .views-exposed-form .bef-checkboxes .form-type-bef-checkbox {
	display:inline-block;
	margin-right:10px;
}
.quicktabs_main .views-exposed-form label {
	font-weight:normal;
}
.quicktabs_main input {
	vertical-align:baseline !important;
}
ul.quicktabs-tabs.quicktabs-style-zen {
	clear:both;
}
.node-codex-item .field-name-body {
	margin-right:0;
}

.node-codex-item .field-name-field-image,
.node-codex-item .field-name-body {
	float:none;
	width:100%;
}
.node-codex-item .field-name-field-image img {
	width:100% !important;
	height:auto !important;
}
.node-codex-item ol {
	padding-left:2em !important;
}

/* curricula tables */
#feature-table { width: 100%; margin: 0 auto; border-collapse: collapse;}

#feature-table th { padding-bottom: 14px !important; vertical-align: bottom; font-family: 'Ubuntu', sans-serif; font-weight:700; text-transform:uppercase; color:#333 }
#feature-table th span { position: absolute; top: -9999px; left: -9999px; }

#feature-table td,
#feature-table th { padding: 8px 5px; text-align: center; border-left: 1px solid white; border-right: 1px solid white; line-height:normal }
#feature-table th.header-activity { width:30%; text-align:left;}
#feature-table .final-row td { padding: 24px 5px; }

.activity   { background-color: #d5e4bc; }
.time    { background-color: #c1dcb7; }
.systems { background-color: #bad6c8; }
.games     { background-color: #bbd3dc; }
.programming     { background-color: #a6d4f1;   }
.digital     { background-color: #8fd3f4;  }
.non-digital     { background-color: #acc4eb;  }

tr.odd .table-col-1 { background-color: #edf3e2; background-color: hsla(85,  30%, 94%, 1); }
tr.odd .table-col-2 { background-color: #edf3e2; background-color: hsla(110, 30%, 94%, 1); }
tr.odd .table-col-3 { background-color: #edf3e2; background-color: hsla(150, 30%, 94%, 1); }
tr.odd .table-col-4 { background-color: #e2ecf0; background-color: hsla(190, 30%, 94%, 1); }
tr.odd .table-col-5 { background-color: #e4f1f9; background-color: hsla(203, 63.6364%, 93.5294%, 1.0000) }
tr.odd .table-col-6 { background-color: #d5ebf5; background-color: hsla(199, 61.5385%, 89.8039%, 1.0000) }
tr.odd .table-col-7 { background-color: #e4eaf3; background-color: hsla(216, 38.4615%, 92.3529%, 1.0000) }
.table-col-1 {text-align:left !important; }

.footer-left img {
	width:100%;
}

/* delta page titles */
#block-delta-blocks-page-title {
	display:inline-block;
	float:left;
}
#block-delta-blocks-page-title h1{
	padding:0
}
/* cookie sselect */
#block-activate-module-am-software-select-bk {
	text-align:left;
	display:inline-block;
	float:right;
}
.cookie-select {
	padding-left:25px;
}
.cookie-select.active {
	font-weight:bold;
	background:url(../images/pacman.jpg) no-repeat 0 4px;
	color:#799a32;
}
/* end cookie */

/* (MAKE-A-GAME) formerly CHALLENGES*/

.view.view-challenge-levels .view-header {
	margin-bottom:1em;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:300;
}
.view.view-challenge-levels .views-row {
	border-top:1px dashed #ccc;
	padding-top:20px;
}
.make-a-game-badge {
	margin-bottom:20px;
}
.make-a-game-badge, .make-a-game-intro {
	display:block;	
	text-align:center;
	width:100%;
}
.make-a-game-badge img {
	width:50%;
	height:auto;
}
.make-a-game.thumb {
	float:left;
	width:80px;
	margin:0 20px 10px 0;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px rgba(0,0,0,0.3);
	
}
.make-a-game-instructions.thumb {
	width:40%;
	float:left;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px rgba(0,0,0,0.3);
	margin:5px 3% 10px 0;

}
.make-a-game-instructions.thumb img {
	width:100% !important;
	height:auto !important;
}
.make-a-game-instructions.desc {
	width:100%;
	float:none;
}
.make-a-game.desc {
	float:none;
	width:100%;
}
.link.challenge-instructions-resource,
.link.challenge-instructions-path {
	margin-bottom:20px;
}
.view.view-challenge-overview .view-content {
	padding-top:20px;
	clear:both;
}
 /**^*^*^*^**^** Challenge step instructions ^*^*^*^*^*^*^**^*/
 .view.view-instructions {
	 border-top:1px dashed #ccc;
	 padding-top:10px;
 }
 #challenge_instructions_steps {
	 clear:both;
 }
 #challenge_instructions_steps .steps-header,
 #challenge_instructions_steps .steps-pager {
	 padding:10px 0 10px 3px;
 }
 #challenge_instructions_steps .steps-pager {
	 font-size:1em;
	 text-transform:uppercase;
	 font-weight:700;
 }
 .print-instructions {
	 display:none; /* hide for mobile */
	 float:none;
 }
.challenge_instructions_desc{
	clear:both;
 }
 .challenge_instructions_img img {
	 width:100% !important;
	 height:auto !important;
 }
 #block-views-instructions-ci-posting .view-content,
 .view.view-print-instructions .views-row {
	 margin-bottom:20px;
	 padding-bottom:20px;
	 border-bottom:1px dashed #ccc;
 }
 
 #block-views-instructions-ci-key-concepts ul.pager {
	 display:none; /* don't need pagiantion on the key concepts block */
 }
 
 
 /* PAGINATION */
ul.pager {border:0; margin:0; padding:0; background:none}
ul.pager li {border:none !important;}
ul.pager li.first, ul.pager li.first a, ul.pager li.first a:hover {
    border-radius:0;
}
ul.pager li.pager-first,
ul.pager li.pager-last {
	display:none;
}
ul.pager li{
	border:0; margin:0; padding:0;
	font-size:1.5em;
	list-style:none;
	margin-right:2px;
}
ul.pager li a{
	border:solid 1px #F46F21;
	margin-right:2px;
}
ul.pager .pager-next {
	position:relative;
	top:auto;
	right:auto;
}
ul.pager .pager-next a,
ul.pager .pager-previous a {
	width:auto;
}
ul.pager .pager-current{
	background:#00ADEF;
	color:#FFFFFF;
	display:block;
	float:left;
	margin-right:2px;
}
ul.pager a:link,
ul.pager a:visited {
	color:#F46F21;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#ul.pager a:hover{
	border:solid 1px #00ADEF
}


/******* REGISTRATION and ACCOUNT PAGES ********/
div.form-item div.password-suggestions {
	border:none;
	font-weight:bold;
	
}
div.password-suggestions ul {
	margin-left: 2em;
	font-weight:normal;
}
span.fieldset-legend {
	font-weight:bold;
}
label, span.fieldset-legend {
	font-size:1.2em;
}
.container-inline-date .date-padding {
	padding:10px 0 10px 0;
}
.container-inline-date .form-item .form-item {
	padding-right:10px;
}
.user_links {
	display:block;
	float:right;
	padding-top:5px;
}
.user_links .user_link.account-link, .user_links .seperator, .user_links .user_link.games-link {
	display:inline;
}
.user_link.game-add {
	clear:both;
	padding:15px 0;
}
/******* END REGISTRATION and ACCOUNT PAGES********/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}