/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

ul.sf-navbar li a  {
	font-size:1em;
	/*becuase we're reducing font-size above, gotta pad this a little more too */
	padding-bottom:14px;
}
.footer-left img {
	width:80%;
}
/* (MAKE-A-GAME) formerly CHALLENGES*/
.make-a-game.desc {
	width:340px;
}
.make-a-game-intro {
	font-size:0.875em;
}